<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="https://www.salesforce.com/products/marketing-cloud/overview" target="_blank">
        <img src="/images/sfmc-horiz-small.png" />
    </a>
</nav>

<div class="container">
    <h2 class="display-5">Getting Started With Salesforce Marketing Cloud API Integrations</h2>
    <h2><small>Dreamforce 2018</small></h2>
</div>