<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="https://www.salesforce.com/products/marketing-cloud/overview" target="_blank">
        <img src="/images/sfmc-horiz-small.png" />
    </a>
</nav>

<div class="container">
    <h2 class="display-5">Getting Started With Salesforce Marketing Cloud API Integrations</h2>
    <h2><small>Dreamforce 2018</small></h2>
    <h4>Use Marketing Cloud REST APIs to load sample data into a Data Extension.</h4>
    <h6>Demo source code: <a href="https://github.com/sanagama/sfmc-df18demo" target="_blank">https://github.com/sanagama/sfmc-df18demo</a></h6>
</div>