<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="https://www.salesforce.com/products/marketing-cloud/overview" target="_blank">
        <img src="/images/sfmc-horiz-small.png" />
    </a>
</nav>