<!-- Partial ejs with steps to create a Data Extension -->
<div class="card mt-3">
    <div class="card-block">
        <div class="card-header text-white">Step 1: Create a Data Extension</div>
        <div class="card-body">
            <h6 class="card-subtitle mb-3">This demo app needs a Data Extension to work with.</h6>
            <p class="card-text">Login to your Marketing Cloud account and follow instructions at <a href="https://help.salesforce.com/articleView?id=mc_cab_create_a_new_data_extension.htm&type=5" target="_blank">Create Data Extension</a> to create a new Standard Data Extension as follows:</p>

            <table class="table table-bordered table-hover table-sm">
                <thead>
                <tr><th>Property</th><th>Value</th><th>Purpose</th></tr>
                </thead>
                <tbody>
                <tr><td>Creation Method</td><td>Create from New</td><td>Creates a new Data Extension with fields you specify</td></tr>
                <tr><td>Name</td><td><mark>DF18Demo</mark></td><td>Name of the Data Extension</td></tr>
                <tr><td>External Key</td><td><mark>DF18Demo</mark></td><td>Unique identifier used in REST API calls for programmatic access</td></tr>
                <tr><td>Is Sendable</td><td>No (Unchecked)</td><td></td></tr>
                </tbody>
            </table>

            <p class="card-text">Next, add the 4 fields below to the Data Extension:</p>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                <tr><th>Field Name</th><th>Data Type</th><th>Length</th><th>Primary Key</th><th>Nullable?</th><th>Default Value</th></tr>
                </thead>
                <tbody>
                    <tr><td>id</td><td>Text</td><td>15</td><td>Yes (Checked)</td><td>No (Unchecked)</td><td>(Empty)</td></tr>
                    <tr><td>name</td><td>Text</td><td>50</td><td>No (Unchecked)</td><td>No (Unchecked)</td><td>(Empty)</td></tr>
                    <tr><td>email</td><td>EmailAddress</td><td>254</td><td>No (Unchecked)</td><td>No (Unchecked)</td><td>(Empty)</td></tr>
                    <tr><td>created_dts</td><td>Date</td><td>N/A</td><td>No (Unchecked)</td><td>No (Unchecked)</td><td>Current Date</td></tr>
                </tbody>
            </table>

            <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;Your new Data Extension is ready to use!</p>
        </div>
    </div>
</div>