<div class="container">
    <div class="card mt-3 mb-5">
        <div class="card-block">
            <div class="card-body">
                <h6 class="card-subtitle mb-3"><strong>Looking for more information on Marketing Cloud?</strong></h6>

                <ul>
                    <li>Connect with the team and ask questions on 
                        <a href="https://salesforce.stackexchange.com/questions/tagged/marketing-cloud" target="_blank">Stack Exchange</a></li>
                    <li>Check out the advanced examples in the 
                        <a href="https://developer.salesforce.com/docs/atlas.en-us.mc-sdks.meta/mc-sdks/using-a-client-library.htm" target="_blank">
                        Marketing Cloud documentation</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>