<div class="container">
    <div class="card mt-5 mb-5">
        <div class="card-block">
            <div class="card-body">
                <h6 class="card-subtitle mb-3">Looking for more info?</h6>
                <p class="card-text">
                    Check out the new <a href="https://developer.salesforce.com/developer-centers/marketing-cloud" target="_blank">Salesforce Marketing Cloud Developer Center</a> to learn more about API integrations and create value-added marketing applications.
                </p>
            </div>
        </div>
    </div>
</div>