<!-- Partial ejs with steps to get an API key -->
<div class="card mt-3">
    <div class="card-block">
        <div class="card-header text-white">Step 2: Get an API key</div>
        <div class="card-body">
            <h6 class="card-subtitle mb-3">You need a <code>ClientID</code> and <code>ClientSecret</code> to use the Marketing Cloud REST APIs.</h6>

            <p class="card-text">Follow instructions at <a href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-getting-started.meta/mc-getting-started/get-api-key.htm" target="_blank">Get an API key</a> to add an <strong>API Integration</strong> component in your Marketing Cloud account and obtain the <code>ClientID</code> and <code>ClientSecret</code>.</p>

            <p class="card-text"><span class="fa fa-exclamation text-warning"></span>&nbsp;Be careful where you store your <code>ClientID</code> and <code>ClientSecret</code>. The recommended best practice is to store these in <strong>configuration</strong> or <strong>environment variables</strong> instead of hard-coding in your application.</p>
            <p class="card-text">Put your <code>ClientID</code> and <code>ClientSecret</code> in the following <strong>environment variables</strong> on your computer for this demo app to use:</p>
            <pre>
DF18DEMO_CLIENTID=<mark>YOUR_CLIENT_ID</mark>
DF18DEMO_CLIENTSECRET=<mark>YOUR_CLIENT_SECRET</mark></pre>
            <p>
            <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;You're ready to use your API key with the Marketing Cloud REST APIs!</p>
        </div>
    </div>
</div>  