<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <% include ./partials/body-header.ejs %>

  <!-- Demo steps -->
  <div class="container">

    <div class="card mt-3">
      <div class="card-block">
        <div class="card-body">
          <h6 class="card-subtitle mb-3">This web app is running outside the Marketing Cloud</h6>
          <h6 class="card-subtitle mb-3">You can host this web app anywhere you wish (e.g your computer, data center or the cloud) and use REST APIs to interact with Marketing Cloud.</h6>
        </div>
      </div>
    </div>
  
    <!-- Step 1 -->
    <% include ./partials/create-de.ejs %>
  
    <!-- Step 2 -->
    <% include ./partials/get-api-key.ejs %>

    <!-- Step 3 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 3: Get an OAuth access token</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">You need an OAuth access token to authenticate REST API calls to Marketing Cloud.</h6>
          <p class="card-text">Click <kbd>EXECUTE REQUEST</kbd> to call the Marketing Cloud REST Auth service and get back an OAuth access token. This token is valid for 60 minutes.</p>
          <p class="card-text">The demo app updates <mark>YOUR_CLIENT_ID</mark> and <mark>YOUR_CLIENT_SECRET</mark> in the JSON body with your <code>ClientID</code> and <code>ClientSecret</code> from environment variables before calling POST.</p>

          <div class="table-responsive">       
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th style="width: 50%" scope="col">
                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
                  </th>
                  <th style="width: 50%" scope="col">RESPONSE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h6>URL</h6>
                    <pre>
POST
https://auth.exacttargetapis.com/v1/requestToken</pre>
                    <p>
                    <h6>Headers</h6>
                    <pre>Content-Type: application/json</pre>
                    <p>
                    <h6>Request Body</h6>
                    <pre>
{
  "clientId": <mark>YOUR_CLIENT_ID</mark>,
  "clientSecret": <mark>YOUR_CLIENT_SECRET</mark>
}</pre>
                  </td>
                  <td><pre id="textOauthPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
                </tr>
              </tbody>
            </table>
          </div>

          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;You have everything you need to call the Marketing Cloud REST APIs to load sample data into your Data Extension!</p>

        </div>
      </div>
    </div>

    <!-- Step 4 -->
    <% var stepTitle = 'Step 4: Load sample data'; %>
    <% include ./partials/load-data.ejs %>
      
  </div>

  <% include ./partials/footer.ejs %>

</body>
</html>