<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <% include ./partials/body-header.ejs %>

  <!-- Demo steps -->
  <div class="container">

    <div class="card mt-3">
      <div class="card-block">
        <div class="card-body">
          <h6 class="card-subtitle mb-3">This web app is running as a Marketing Cloud app!</h6>
          <h6 class="card-subtitle mb-3">Marketing Cloud apps are displayed within Marketing Cloud web UI (in an IFRAME) and are launched via the Marketing Cloud app menu. Examples of these apps include custom apps built by your organization or apps installed from AppExchange.</h6>
          <h6 class="card-subtitle mb-3">You can host this web app anywhere you wish (e.g your computer, data center or the cloud) and use REST APIs to interact with Marketing Cloud.</h6>
        </div>
      </div>
    </div>
  
    <!-- Step 1 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 1: Create a Data Extension</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">This demo app needs a Data Extension to work with.</h6>
          <p class="card-text">Login to your Marketing Cloud account and follow instructions at <a href="https://help.salesforce.com/articleView?id=mc_cab_create_a_new_data_extension.htm&type=5" target="_blank">Create Data Extension</a> to create a new Standard Data Extension as follows:</p>
 
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr><th>Property</th><th>Value</th><th>Purpose</th></tr>
            </thead>
            <tbody>
              <tr><td>Creation Method</td><td>Create from New</td><td>Creates a new Data Extension with fields you specify</td></tr>
              <tr><td>Name</td><td><mark>DF18Demo</mark></td><td>Name of the Data Extension</td></tr>
              <tr><td>External Key</td><td><mark>DF18Demo</mark></td><td>Unique identifier used in REST API calls for programmatic access</td></tr>
              <tr><td>Is Sendable</td><td>No (Unchecked)</td><td></td></tr>
            </tbody>
          </table>

          <p class="card-text">Next, add the 3 fields below to the Data Extension:</p>
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr><th>Field Name</th><th>Data Type</th><th>Length</th><th>Primary Key</th></tr>
            </thead>
            <tbody>
              <tr><td>id</td><td>Number</td><td>N/A</td><td>Yes (Checked)</td></tr>
              <tr><td>name</td><td>Text</td><td>50</td><td>No (Unchecked)</td></tr>
              <tr><td>email</td><td>EmailAddress</td><td>254</td><td>No (Unchecked)</td></tr>
            </tbody>
          </table>

          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;Your new Data Extension is ready to use!</p>
        </div>
      </div>
    </div>
    
    <!-- Step 2 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 2: Get an API key</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">You need a <code>ClientID</code> and <code>ClientSecret</code> to use the Marketing Cloud REST APIs.</h6>

          <p class="card-text"></p>We've already added an <strong>API Integration</strong> component to this Marketing Cloud app when we created it. Follow instructions at <a href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-getting-started.meta/mc-getting-started/get-api-key.htm" target="_blank">Get an API key</a> to obtain the <code>ClientID</code> and <code>ClientSecret</code> from the <strong>API Integration</strong> component in the Marketing Cloud app.</p>

          <p class="card-text"><span class="fa fa-exclamation text-warning"></span>&nbsp;Be careful where you store your <code>ClientID</code> and <code>ClientSecret</code>. The recommended best practice is to store these in <strong>configuration</strong> or <strong>environment variables</strong> instead of hard-coding in your application.</p>
          <p class="card-text">Put your <code>ClientID</code> and <code>ClientSecret</code> in the following <strong>environment variables</strong> on your computer for this demo app to use:</p>
<pre>
DF18DEMO_CLIENTID=<mark>YOUR_CLIENT_ID</mark>
DF18DEMO_CLIENTSECRET=<mark>YOUR_CLIENT_SECRET</mark>
</pre>
          <p>
          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;You're ready to use your API key with the Marketing Cloud REST APIs!</p>
        </div>
      </div>
    </div>

      
    <!-- Step 3 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 3: Get a Refresh Token</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">You need a Refresh Token to get an OAuth access token to authenticate REST API calls to Marketing Cloud.</h6>
          <p class="card-text">Marketing Cloud apps use a JSON Web Token (JWT) to acquire OAuth Access Tokens on behalf of logged in users. Marketing Cloud POSTs the JWT to the <code><mark>login</mark></code> endpoint configured for the app.</p>
          <p class="card-text">Here is the JWT and Refresh Token that Marketing Cloud POSTed to our <code><mark>login</mark></code> endpoint:</p>

          <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <tbody>
                <tr><td class="table-active">JSON Web Token (JWT) sent by Marketing Cloud</td></tr>
                <tr><td>
                  <div class="table-responsive" style='height:200px; overflow-y: scroll;'>
                    <pre><%= session.jwtFromSFMC %></pre>
                  </div>
                </td></tr>
                <tr><td class="table-active">Refresh Token from JWT</td></tr>
                <tr><td><pre><%= session.refreshTokenFromJWT %></pre></td></tr>
              </tbody>
            </table>
          </div>

          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;We have the Refesh Token from the JWT. Let's use the Refresh Token to acquire an OAuth Access Token.</p>
        </div>
      </div>
    </div>

    <!-- Step 4 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 4: Get an OAuth access token</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">We'll use the Refresh Token from the previous step to get an OAuth access token.</h6>
          <p class="card-text">Click <kbd>EXECUTE REQUEST</kbd> to call the Marketing Cloud REST Auth service and get back an OAuth access token. This token is valid for 60 minutes.</p>

          <p class="card-text">The demo app updates the following in the JSON body before calling POST:</p>
          <div class="list-group">
            <li><code><mark>YOUR_CLIENT_ID</mark></code> and <code><mark>YOUR_CLIENT_SECRET</mark></code> with <code>ClientID</code> and <code>ClientSecret</code> from environment variables.</li>
            <li><code><mark>REFRESH_TOKEN_FROM_JWT</mark></code> with the Refresh Token we got from the JWT.</li>
          </div>
          <p>

          <div class="table-responsive">       
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th style="width: 50%" scope="col">
                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/appdemoauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
                  </th>
                  <th style="width: 50%" scope="col">RESPONSE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h6>URL</h6>
                    <pre>
POST
https://auth.exacttargetapis.com/v1/requestToken</pre>
                    <p>
                    <h6>Headers</h6>
                    <pre>Content-Type: application/json</pre>
                    <p>
                    <h6>Request Body</h6>
                    <pre>
{
  "clientId": <mark>YOUR_CLIENT_ID</mark>,
  "clientSecret": <mark>YOUR_CLIENT_SECRET</mark>,
  "refreshToken": <mark>REFRESH_TOKEN_FROM_JWT</mark>
}</pre>
                  </td>
                  <td><pre id="textOauthPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
                </tr>
              </tbody>
            </table>
          </div>

          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;You have everything you need to call the Marketing Cloud REST APIs to load sample data into your Data Extension!</p>

        </div>
      </div>
    </div>

    <!-- Step 5 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 5: Load sample data</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">Use the Marketing Cloud REST API to load data into the Data Extension.</h6>
          <p class="card-text">Click <kbd>EXECUTE REQUEST</kbd> to call the Marketing Cloud REST API to load data.</p>
          <p class="card-text">The demo app updates <code><mark>OAUTH_ACCESS_TOKEN</mark></code> in the JSON body with the OAuth token before calling POST.<p>
          <p class="card-text">Note how we're passing <code><mark>DF18Demo</mark></code> in the URL as the External Key of the Data Extension.</p>

          <div class="table-responsive">       
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th style="width: 50%">
                    <button type="button" id="btnLoadData" class="btn btn-primary"
                      onclick="doRestGet('/appdemoloaddata','textLoadDataPostResponse')">EXECUTE REQUEST</button>
                  </th>
                  <th style="width: 50%">RESPONSE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h6>URL</h6>
<pre>
POST
https://www.exacttargetapis.com/hub/v1/dataevents/<mark>key:DF18Demo</mark>/rowset
</pre>
                    <p>
                    <h6>Headers</h6>
<pre>
Content-Type: application/json
Authorization: Bearer <mark>OAUTH_ACCESS_TOKEN</mark>
</pre>
                    <p>
                    <h6>Request Body</h6>
                    <pre><% include ../static/json/sample-data.json %></pre>                    
                  </td>
                  <td><pre id="textLoadDataPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
                </tr>
              </tbody>
            </table>
          </div>

          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;You've successfully loaded sample data into your Data Extension. Head over to your Marketing Cloud account to take a look!</p>
        </div>
      </div>
    </div>
      
  </div>

  <% include ./partials/footer.ejs %>

</body>
</html>