<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <% include ./partials/body-header.ejs %>

  <!-- Demo steps -->
  <div class="container">

    <div class="card mt-3">
      <div class="card-block">
        <div class="card-body">
          <h6 class="card-subtitle mb-3">This web app is running as a Marketing Cloud app!</h6>
          <h6 class="card-subtitle mb-3">Marketing Cloud apps are displayed within Marketing Cloud web UI (in an IFRAME) and are launched via the Marketing Cloud app menu. Examples of these apps include custom apps built by your organization or apps installed from AppExchange.</h6>
          <h6 class="card-subtitle mb-3">You can host this web app anywhere you wish (e.g your computer, data center or the cloud) and use REST APIs to interact with Marketing Cloud.</h6>
        </div>
      </div>
    </div>
  
    <!-- Step 1 -->
    <% include ./partials/create-de.ejs %>
    
    <!-- Step 2 -->
    <% include ./partials/get-api-key.ejs %>
      
    <!-- Step 3 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 3: Get a Refresh Token</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">You need a Refresh Token to get an OAuth access token to authenticate REST API calls to Marketing Cloud.</h6>
          <p class="card-text">Marketing Cloud apps use a JSON Web Token (JWT) to acquire OAuth Access Tokens on behalf of logged in users. Marketing Cloud POSTs the JWT to the <code><mark>login</mark></code> endpoint configured for the app.</p>
          <p class="card-text">Here is the JWT and Refresh Token that Marketing Cloud POSTed to our <code><mark>login</mark></code> endpoint:</p>

          <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <tbody>
                <tr><td class="table-active">JSON Web Token (JWT) sent by Marketing Cloud</td></tr>
                <tr><td>
                  <div class="table-responsive" style='height:200px; overflow-y: scroll;'>
                    <pre><%= session.jwtFromSFMC %></pre>
                  </div>
                </td></tr>
                <tr><td class="table-active">Refresh Token from JWT</td></tr>
                <tr><td><pre><%= session.refreshTokenFromJWT %></pre></td></tr>
              </tbody>
            </table>
          </div>

          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;We have the Refesh Token from the JWT. Let's use the Refresh Token to acquire an OAuth Access Token.</p>
        </div>
      </div>
    </div>

    <!-- Step 4 -->
    <div class="card mt-3">
      <div class="card-block">
        <div class="card-header text-white">Step 4: Get an OAuth access token</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">We'll use the Refresh Token from the previous step to get an OAuth access token.</h6>
          <p class="card-text">Click <kbd>EXECUTE REQUEST</kbd> to call the Marketing Cloud REST Auth service and get back an OAuth access token. This token is valid for 60 minutes.</p>

          <p class="card-text">The demo app updates the following in the JSON body before calling POST:</p>
          <div class="list-group">
            <li><code><mark>YOUR_CLIENT_ID</mark></code> and <code><mark>YOUR_CLIENT_SECRET</mark></code> with <code>ClientID</code> and <code>ClientSecret</code> from environment variables.</li>
            <li><code><mark>REFRESH_TOKEN_FROM_JWT</mark></code> with the Refresh Token we got from the JWT.</li>
          </div>
          <p>

          <div class="table-responsive">       
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th style="width: 50%" scope="col">
                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/appdemoauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
                  </th>
                  <th style="width: 50%" scope="col">RESPONSE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h6>URL</h6>
                    <pre>
POST
https://auth.exacttargetapis.com/v1/requestToken</pre>
                    <p>
                    <h6>Headers</h6>
                    <pre>Content-Type: application/json</pre>
                    <p>
                    <h6>Request Body</h6>
                    <pre>
{
  "clientId": <mark>YOUR_CLIENT_ID</mark>,
  "clientSecret": <mark>YOUR_CLIENT_SECRET</mark>,
  "refreshToken": <mark>REFRESH_TOKEN_FROM_JWT</mark>
}</pre>
                  </td>
                  <td><pre id="textOauthPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
                </tr>
              </tbody>
            </table>
          </div>

          <p class="card-text"><span class="fa fa-thumbs-o-up text-success"></span>&nbsp;You have everything you need to call the Marketing Cloud REST APIs to load sample data into your Data Extension!</p>

        </div>
      </div>
    </div>

    <!-- Step 5 -->
    <% var stepTitle = 'Step 5: Load sample data'; %>
    <% include ./partials/load-data.ejs %>

  </div>

  <% include ./partials/footer.ejs %>

</body>
</html>