<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <% include ./partials/brand.ejs %>

  <div class="container-fluid text-center">
    <h2>Demo #2: Marketing Cloud App demo</h2>
    <p>
    <h2><small>Try the demos presented at Dreamforce 2018</small></h3>
  </div>

  <% include ./partials/footer.ejs %>

</body>
</html>